In [1]:
import pandas as pd
import numpy as np

In [2]:
chicago = pd.read_csv("Chicago.csv")
chicago.set_index('Name', inplace = True)
chicago.head()

,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
Name,,,,,,,
"ALLISON, PAUL W",LIEUTENANT,FIRE,F,Salary,NaN,$107790.00,NaN
"BRUNO, KEVIN D",SERGEANT,POLICE,F,Salary,NaN,$104628.00,NaN
"COOPER, JOHN E",LIEUTENANT-EMT,FIRE,F,Salary,NaN,$114324.00,NaN
"CRESPO, VILMA I",STAFF ASST,LAW,F,Salary,NaN,$76932.00,NaN
"DOLAN, ROBERT J",SERGEANT,POLICE,F,Salary,NaN,$111474.00,NaN

In [3]:
chicago["Department"] = chicago["Department"].str.replace("FIRE", "FIREMAN")

In [4]:
chicago["Department"].head()

Name
ALLISON,  PAUL W    FIREMAN
BRUNO,  KEVIN D      POLICE
COOPER,  JOHN E     FIREMAN
CRESPO,  VILMA I        LAW
DOLAN,  ROBERT J     POLICE
Name: Department, dtype: object

In [5]:
chicago["Annual Salary"] = chicago["Annual Salary"].str.replace("$", "").astype(float)

In [6]:
chicago["Annual Salary"]

Name
ALLISON,  PAUL W          107790.0
BRUNO,  KEVIN D           104628.0
COOPER,  JOHN E           114324.0
CRESPO,  VILMA I           76932.0
DOLAN,  ROBERT J          111474.0
DUBERT,  TOMASZ            91080.0
EDWARDS,  TIM P           114846.0
ELKINS,  ERIC J           104628.0
ESTRADA,  LUIS F           96060.0
EWING,  MARIE A            53076.0
FINN,  SEAN P              87006.0
FITCH,  JORDAN M               NaN
FREELON,  CHERYL N         96060.0
GRAFF,  KEVIN M           111474.0
GUNN,  ISSAC J             80868.0
HARRIS,  DANIEL J          48078.0
HATTULA,  CARL J          107988.0
HILL,  LATINA P            72510.0
HOLLER,  JOEL P           104628.0
HROMA JR,  JOHN           107988.0
JACKSON,  ERIC            107988.0
JOYCE,  SEAN G            132876.0
KING,  WARSHAW            136794.0
KWONG,  NORMAN P          104628.0
LEVEK,  NATHAN L           72510.0
MACK,  PAUL C             125190.0
PETERS,  JOSEPH M          72510.0
MOORE,  TED D              87006.0
SIMON,  JOSEPH G          104628.0
MULLINS,  JOHN T           72510.0
                            ...
ZUNIGA,  NOE               48078.0
ZUNIGA,  OSCAR             80016.0
ZUNIGA,  RONALD            90024.0
ZUNIGA,  THOMAS                NaN
ZUNIGA,  VICENTE           92274.0
ZUPAN,  BILL M            114324.0
ZUPANCIC,  KELLY           72510.0
ZURAWSKI,  CAROL A             NaN
ZURAWSKI,  JEFFREY             NaN
ZURAWSKI,  MAC Z               NaN
ZURAWSKI,  MARY E          96060.0
ZUREK,  FRANCIS                NaN
ZUREK,  MARY H             85008.0
ZURITA,  ADRIEL            72510.0
ZVANJA,  TINA M            76932.0
ZWARYCZ MANN,  IRENE A         NaN
ZWARYCZ,  THOMAS J             NaN
ZWIESLER,  MATTHEW         76896.0
ZWIT,  JEFFREY J           87006.0
ZWOLFER,  MATTHEW W       114324.0
ZYCH,  MATEUSZ             68616.0
ZYDEK,  BRYAN              84054.0
ZYGADLO,  JOHN P               NaN
ZYGADLO,  MICHAEL J            NaN
ZYGMUNT,  DAWID            48078.0
ZYGOWICZ,  PETER J         90024.0
ZYLINSKA,  KATARZYNA       48078.0
ZYMANTAS,  MARK E          87006.0
ZYRKOWSKI,  CARLO E        93354.0
ZYSKOWSKI,  DARIUSZ       115932.0
Name: Annual Salary, Length: 32658, dtype: float64

In [7]:
chicago["Annual Salary"].sum()

2168129130.48

In [8]:
chicago["Annual Salary"].mean()

87512.78024137241

In [9]:
chicago["Annual Salary"].nlargest()

Name
EVANS,  GINGER S       300000.0
JOHNSON,  EDDIE T      260004.0
EMANUEL,  RAHM         216210.0
SANTIAGO,  JOSE A      202728.0
FORD II,  RICHARD C    197736.0
Name: Annual Salary, dtype: float64

In [10]:
#filtering with string method

In [11]:
chicago["Job Titles"]

Name
ALLISON,  PAUL W                                 LIEUTENANT
BRUNO,  KEVIN D                                    SERGEANT
COOPER,  JOHN E                              LIEUTENANT-EMT
CRESPO,  VILMA I                                 STAFF ASST
DOLAN,  ROBERT J                                   SERGEANT
DUBERT,  TOMASZ                               PARAMEDIC I/C
EDWARDS,  TIM P                                  LIEUTENANT
ELKINS,  ERIC J                                    SERGEANT
ESTRADA,  LUIS F                             POLICE OFFICER
EWING,  MARIE A                                   CLERK III
FINN,  SEAN P                                   FIREFIGHTER
FITCH,  JORDAN M                                  LAW CLERK
FREELON,  CHERYL N                           POLICE OFFICER
GRAFF,  KEVIN M                                    SERGEANT
GUNN,  ISSAC J                              FIREFIGHTER-EMT
HARRIS,  DANIEL J                            POLICE OFFICER
HATTULA,  CARL J                                   SERGEANT
HILL,  LATINA P                                   PARAMEDIC
HOLLER,  JOEL P                                    SERGEANT
HROMA JR,  JOHN                                    SERGEANT
JACKSON,  ERIC                                     SERGEANT
JOYCE,  SEAN G                                      CAPTAIN
KING,  WARSHAW                                  CAPTAIN-EMT
KWONG,  NORMAN P                                   SERGEANT
LEVEK,  NATHAN L                                  PARAMEDIC
MACK,  PAUL C                                    LIEUTENANT
PETERS,  JOSEPH M                                 PARAMEDIC
MOORE,  TED D                                POLICE OFFICER
SIMON,  JOSEPH G                                   SERGEANT
MULLINS,  JOHN T                                  PARAMEDIC
                                        ...
ZUNIGA,  NOE                                 POLICE OFFICER
ZUNIGA,  OSCAR                               POLICE OFFICER
ZUNIGA,  RONALD                              POLICE OFFICER
ZUNIGA,  THOMAS                       GENERAL LABORER - DSS
ZUNIGA,  VICENTE                            FIREFIGHTER-EMT
ZUPAN,  BILL M                               LIEUTENANT-EMT
ZUPANCIC,  KELLY                             POLICE OFFICER
ZURAWSKI,  CAROL A                           CROSSING GUARD
ZURAWSKI,  JEFFREY           FRM OF MACHINISTS - AUTOMOTIVE
ZURAWSKI,  MAC Z                         SANITATION LABORER
ZURAWSKI,  MARY E                            POLICE OFFICER
ZUREK,  FRANCIS                         ELECTRICAL MECHANIC
ZUREK,  MARY H            SENIOR PUBLIC INFORMATION OFFICER
ZURITA,  ADRIEL                              POLICE OFFICER
ZVANJA,  TINA M                             LEGAL SECRETARY
ZWARYCZ MANN,  IRENE A                       CROSSING GUARD
ZWARYCZ,  THOMAS J                  POOL MOTOR TRUCK DRIVER
ZWIESLER,  MATTHEW              AIRPORT OPERATIONS SUPVSR I
ZWIT,  JEFFREY J                             POLICE OFFICER
ZWOLFER,  MATTHEW W                          LIEUTENANT-EMT
ZYCH,  MATEUSZ                               POLICE OFFICER
ZYDEK,  BRYAN                                POLICE OFFICER
ZYGADLO,  JOHN P                     MACHINIST (AUTOMOTIVE)
ZYGADLO,  MICHAEL J          FRM OF MACHINISTS - AUTOMOTIVE
ZYGMUNT,  DAWID                              POLICE OFFICER
ZYGOWICZ,  PETER J                           POLICE OFFICER
ZYLINSKA,  KATARZYNA                         POLICE OFFICER
ZYMANTAS,  MARK E                            POLICE OFFICER
ZYRKOWSKI,  CARLO E                          POLICE OFFICER
ZYSKOWSKI,  DARIUSZ                 CHIEF DATA BASE ANALYST
Name: Job Titles, Length: 32658, dtype: object

In [12]:
mark = chicago["Job Titles"].str.contains("POLICE")
chicago[mark]

,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
Name,,,,,,,
"ESTRADA, LUIS F",POLICE OFFICER,POLICE,F,Salary,NaN,96060.0,NaN
"FREELON, CHERYL N",POLICE OFFICER,POLICE,F,Salary,NaN,96060.0,NaN
"HARRIS, DANIEL J",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
"MOORE, TED D",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
"ROBINSON, HAROLD",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
"STRAKA, SCOTT M",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
"VEGA, ANA L",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
"YARLING, ZACHARY",POLICE OFFICER,POLICE,F,Salary,NaN,80016.0,NaN
"AARON, KARINA",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
"ABBATE, TERRY M",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
"ABDALLAH, ZAID",POLICE OFFICER,POLICE,F,Salary,NaN,80016.0,NaN
"ABDELHADI, ABDALMAHD",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
"ABDELMAJEID, AZIZ",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
"ABDULLAH, RASHAD",ELECTRICAL MECHANIC-AUTO-POLICE MTR MNT,GENERAL SERVICES,F,Hourly,40.0,NaN,$46.10
"ABEJERO, JASON V",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
"ABNEY, PATRICK",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
"ABRAHAM, NANCY A",POLICE OFFICER,POLICE,F,Salary,NaN,76266.0,NaN
"ABRAM, ANTHONY A",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
"ABRAMSON, NICHOLAS",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
"ABRON, FLOYD",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
"ABUDAYEH, ELIAS",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
"ABURIZEG, MOHAMMAD",POLICE OFFICER,POLICE,F,Salary,NaN,68616.0,NaN
"ABUZANAT, ABDALLA H",POLICE OFFICER (ASSIGNED AS EVIDENCE TECHNICIAN),POLICE,F,Salary,NaN,94524.0,NaN
"ACCARDO, ANTHONY V",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
"ACCARDO, JENNIFER A",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
"ACCARDO, THOMAS J",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
"ACEVEDO, AARON F",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
"ACEVEDO, ALEJANDRO R",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
"ACEVEDO, BIENVENIDO",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
"ACEVEDO, DAVID M",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
...,...,...,...,...,...,...,...
"ZODO, ALEX J",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
"ZOLLER, RICHARD S",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
"ZOLTEK, JOHN J",ELECTRICAL MECHANIC-AUTO-POLICE MTR MNT,GENERAL SERVICES,F,Hourly,40.0,NaN,$46.10
"ZOOK, JOHN S",POLICE OFFICER,POLICE,F,Salary,NaN,96060.0,NaN
"ZOTTA, FRANK",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
"ZUBB, SHANNON M",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
"ZUBECK, GINA M",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
"ZUBECK, JAMES F",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
"ZUBER, MICHAEL R",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,100980.0,NaN
"ZULEVIC, JANAAN M",POLICE OFFICER,POLICE,F,Salary,NaN,76266.0,NaN
"ZULFIC, ALEN",POLICE OFFICER,POLICE,F,Salary,NaN,76266.0,NaN
"ZULKEY, JOSEPH",POLICE OFFICER,POLICE,F,Salary,NaN,76266.0,NaN
"ZULLO, GREGORY G",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
"ZUMBROCK, JOHN M",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
"ZUNIGA, JUAN M",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
"ZUNIGA, JURDON",POLICE OFFICER,POLICE,F,Salary,NaN,80016.0,NaN
"ZUNIGA, NOE",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
"ZUNIGA, OSCAR",POLICE OFFICER,POLICE,F,Salary,NaN,80016.0,NaN
"ZUNIGA, RONALD",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
"ZUPANCIC, KELLY",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
"ZURAWSKI, MARY E",POLICE OFFICER,POLICE,F,Salary,NaN,96060.0,NaN
"ZURITA, ADRIEL",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
"ZWIT, JEFFREY J",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
"ZYCH, MATEUSZ",POLICE OFFICER,POLICE,F,Salary,NaN,68616.0,NaN
"ZYDEK, BRYAN",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
"ZYGMUNT, DAWID",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
"ZYGOWICZ, PETER J",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN

In [13]:
chicago[chicago["Job Titles"].str.contains("POLICE")]

,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
Name,,,,,,,
"ESTRADA, LUIS F",POLICE OFFICER,POLICE,F,Salary,NaN,96060.0,NaN
"FREELON, CHERYL N",POLICE OFFICER,POLICE,F,Salary,NaN,96060.0,NaN
"HARRIS, DANIEL J",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
"MOORE, TED D",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
"ROBINSON, HAROLD",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
"STRAKA, SCOTT M",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
"VEGA, ANA L",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
"YARLING, ZACHARY",POLICE OFFICER,POLICE,F,Salary,NaN,80016.0,NaN
"AARON, KARINA",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
"ABBATE, TERRY M",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
"ABDALLAH, ZAID",POLICE OFFICER,POLICE,F,Salary,NaN,80016.0,NaN
"ABDELHADI, ABDALMAHD",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
"ABDELMAJEID, AZIZ",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
"ABDULLAH, RASHAD",ELECTRICAL MECHANIC-AUTO-POLICE MTR MNT,GENERAL SERVICES,F,Hourly,40.0,NaN,$46.10
"ABEJERO, JASON V",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
"ABNEY, PATRICK",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
"ABRAHAM, NANCY A",POLICE OFFICER,POLICE,F,Salary,NaN,76266.0,NaN
"ABRAM, ANTHONY A",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
"ABRAMSON, NICHOLAS",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
"ABRON, FLOYD",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
"ABUDAYEH, ELIAS",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
"ABURIZEG, MOHAMMAD",POLICE OFFICER,POLICE,F,Salary,NaN,68616.0,NaN
"ABUZANAT, ABDALLA H",POLICE OFFICER (ASSIGNED AS EVIDENCE TECHNICIAN),POLICE,F,Salary,NaN,94524.0,NaN
"ACCARDO, ANTHONY V",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
"ACCARDO, JENNIFER A",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
"ACCARDO, THOMAS J",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
"ACEVEDO, AARON F",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
"ACEVEDO, ALEJANDRO R",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
"ACEVEDO, BIENVENIDO",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
"ACEVEDO, DAVID M",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
...,...,...,...,...,...,...,...
"ZODO, ALEX J",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
"ZOLLER, RICHARD S",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
"ZOLTEK, JOHN J",ELECTRICAL MECHANIC-AUTO-POLICE MTR MNT,GENERAL SERVICES,F,Hourly,40.0,NaN,$46.10
"ZOOK, JOHN S",POLICE OFFICER,POLICE,F,Salary,NaN,96060.0,NaN
"ZOTTA, FRANK",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
"ZUBB, SHANNON M",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
"ZUBECK, GINA M",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
"ZUBECK, JAMES F",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
"ZUBER, MICHAEL R",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,100980.0,NaN
"ZULEVIC, JANAAN M",POLICE OFFICER,POLICE,F,Salary,NaN,76266.0,NaN
"ZULFIC, ALEN",POLICE OFFICER,POLICE,F,Salary,NaN,76266.0,NaN
"ZULKEY, JOSEPH",POLICE OFFICER,POLICE,F,Salary,NaN,76266.0,NaN
"ZULLO, GREGORY G",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
"ZUMBROCK, JOHN M",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
"ZUNIGA, JUAN M",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
"ZUNIGA, JURDON",POLICE OFFICER,POLICE,F,Salary,NaN,80016.0,NaN
"ZUNIGA, NOE",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
"ZUNIGA, OSCAR",POLICE OFFICER,POLICE,F,Salary,NaN,80016.0,NaN
"ZUNIGA, RONALD",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
"ZUPANCIC, KELLY",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
"ZURAWSKI, MARY E",POLICE OFFICER,POLICE,F,Salary,NaN,96060.0,NaN
"ZURITA, ADRIEL",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
"ZWIT, JEFFREY J",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
"ZYCH, MATEUSZ",POLICE OFFICER,POLICE,F,Salary,NaN,68616.0,NaN
"ZYDEK, BRYAN",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
"ZYGMUNT, DAWID",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
"ZYGOWICZ, PETER J",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN

In [14]:
chicago[chicago["Job Titles"].str.contains("NT")]

,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
Name,,,,,,,
"ALLISON, PAUL W",LIEUTENANT,FIREMAN,F,Salary,NaN,107790.0,NaN
"BRUNO, KEVIN D",SERGEANT,POLICE,F,Salary,NaN,104628.0,NaN
"COOPER, JOHN E",LIEUTENANT-EMT,FIREMAN,F,Salary,NaN,114324.0,NaN
"DOLAN, ROBERT J",SERGEANT,POLICE,F,Salary,NaN,111474.0,NaN
"EDWARDS, TIM P",LIEUTENANT,FIREMAN,F,Salary,NaN,114846.0,NaN
"ELKINS, ERIC J",SERGEANT,POLICE,F,Salary,NaN,104628.0,NaN
"GRAFF, KEVIN M",SERGEANT,POLICE,F,Salary,NaN,111474.0,NaN
"HATTULA, CARL J",SERGEANT,POLICE,F,Salary,NaN,107988.0,NaN
"HOLLER, JOEL P",SERGEANT,POLICE,F,Salary,NaN,104628.0,NaN
"HROMA JR, JOHN",SERGEANT,POLICE,F,Salary,NaN,107988.0,NaN
"JACKSON, ERIC",SERGEANT,POLICE,F,Salary,NaN,107988.0,NaN
"KWONG, NORMAN P",SERGEANT,POLICE,F,Salary,NaN,104628.0,NaN
"MACK, PAUL C",LIEUTENANT,POLICE,F,Salary,NaN,125190.0,NaN
"SIMON, JOSEPH G",SERGEANT,POLICE,F,Salary,NaN,104628.0,NaN
"NICOL, EDWARD R",SERGEANT,POLICE,F,Salary,NaN,107988.0,NaN
"RUIZ, ERACLIO",SERGEANT,POLICE,F,Salary,NaN,104628.0,NaN
"SANTOS, MICHAEL J",SERGEANT,POLICE,F,Salary,NaN,107988.0,NaN
"TOLEDO, PETER H",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
"SKOL, LARRY W",SERGEANT,POLICE,F,Salary,NaN,107988.0,NaN
"VANEK, AMANDA J",SERGEANT,POLICE,F,Salary,NaN,104628.0,NaN
"WORD, HOSEA",SERGEANT,POLICE,F,Salary,NaN,107988.0,NaN
"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,97056.0,NaN
"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,$19.66
"ABBOTT, BETTY L",FOSTER GRANDPARENT,FAMILY & SUPPORT,P,Hourly,20.0,NaN,$2.65
"ABDULLAH, KEVIN",LIEUTENANT,FIREMAN,F,Salary,NaN,114846.0,NaN
"ABDULLAH, RASHAD",ELECTRICAL MECHANIC-AUTO-POLICE MTR MNT,GENERAL SERVICES,F,Hourly,40.0,NaN,$46.10
"ABRAMAVICIUS, ANNA A",SUPERVISING TRAFFIC CONTROL AIDE,OEMC,F,Salary,NaN,60852.0,NaN
"ABUBAKER, MOHAMMED G",SENIOR ENVIRONMENTAL INSPECTOR,HEALTH,F,Salary,NaN,80568.0,NaN
"ACCIARI, MICHAEL G",DIVISION SUPERINTENDENT,STREETS & SAN,F,Salary,NaN,117660.0,NaN
...,...,...,...,...,...,...,...
"ZAREMBA, WILLIAM M",DETENTION AIDE,POLICE,F,Salary,NaN,66792.0,NaN
"ZARKY, ROGER P",GARAGE ATTENDANT I/C,GENERAL SERVICES,F,Hourly,40.0,NaN,$24.63
"ZARO, NICHOLAS J",DIVISION SUPERINTENDENT,STREETS & SAN,F,Salary,NaN,102348.0,NaN
"ZATOR, KEVIN M",AVIATION SECURITY SERGEANT,AVIATION,F,Salary,NaN,70380.0,NaN
"ZAVALA, FERNANDO",ACCOUNTANT IV,FINANCE,F,Salary,NaN,100776.0,NaN
"ZAVALA, SHALINA P",DATA ENTRY OPERATOR,POLICE,F,Salary,NaN,46152.0,NaN
"ZAVALA, VICTOR M",EQUIPMENT DISPATCHER,GENERAL SERVICES,F,Hourly,40.0,NaN,$36.22
"ZAYAS JR, ANDRES",SERGEANT,POLICE,F,Salary,NaN,107988.0,NaN
"ZBORIL, NORA A",PUBLIC RELATIONS REPRESENTATIVE III,CULTURAL AFFAIRS,F,Salary,NaN,77484.0,NaN
"ZELAYA, MANUEL E",FOREMAN OF PAINTERS,AVIATION,F,Hourly,40.0,NaN,$50.12
"ZELEZNAK, MARK J",ELECTRICAL MECHANIC-AUTO-POLICE MTR MNT,GENERAL SERVICES,F,Hourly,40.0,NaN,$46.10
"ZELITZKY, ADAM R",SERGEANT,POLICE,F,Salary,NaN,111474.0,NaN
"ZENDEJAS, RUBEN",LIEUTENANT-PARAMEDIC,FIREMAN,F,Salary,NaN,117030.0,NaN
"ZENI, MOHAMMAD S",GARAGE ATTENDANT,GENERAL SERVICES,F,Hourly,40.0,NaN,$23.31
"ZEPEDA, LUIS",WARD SUPERINTENDENT,STREETS & SAN,F,Salary,NaN,93300.0,NaN
"ZERVAS, NICHOLAS J",LIEUTENANT-EMT,FIREMAN,F,Salary,NaN,114324.0,NaN
"ZHANG, JACKIE L",FOREMAN OF CEMENT FINISHERS,TRANSPORTN,F,Hourly,40.0,NaN,$46.25
"ZHANG, KEFENG",ACCOUNTANT I,FINANCE,F,Salary,NaN,68796.0,NaN
"ZIEGENBEIN, HANS T",LIEUTENANT-EMT,FIREMAN,F,Salary,NaN,117996.0,NaN
"ZIELINSKI, ROBERT",FOREMAN OF CEMENT FINISHERS,TRANSPORTN,F,Hourly,40.0,NaN,$46.25
"ZIEMBA, LLOYD W",LIEUTENANT-EMT,FIREMAN,F,Salary,NaN,114324.0,NaN
"ZNAVOR, THOMAS A",LIEUTENANT-PARAMEDIC,FIREMAN,F,Salary,NaN,124728.0,NaN
"ZODO, NICOLA E",LIEUTENANT,POLICE,F,Salary,NaN,117894.0,NaN
"ZOGG, PAUL V",SERGEANT,POLICE,F,Salary,NaN,104628.0,NaN
"ZOLTEK, JOHN J",ELECTRICAL MECHANIC-AUTO-POLICE MTR MNT,GENERAL SERVICES,F,Hourly,40.0,NaN,$46.10
"ZUBER, PATRICIA O",LIEUTENANT,POLICE,F,Salary,NaN,125190.0,NaN
"ZUMARAS, ROLAND A",AIRPORT MAINTENANCE FOREMAN,AVIATION,F,Hourly,40.0,NaN,$35.57
"ZUNIGA JR, JAMES",GARAGE ATTENDANT,GENERAL SERVICES,F,Hourly,40.0,NaN,$23.31
"ZUPAN, BILL M",LIEUTENANT-EMT,FIREMAN,F,Salary,NaN,114324.0,NaN
"ZWOLFER, MATTHEW W",LIEUTENANT-EMT,FIREMAN,F,Salary,NaN,114324.0,NaN

In [15]:
# .STRIP(), LSTRIP(), RSTRIP()
#removes character from the left based on argument astring specifying the set of characters tobe removed

In [16]:
chicagos = pd.read_csv("Chicago.csv").dropna(how = "all")
chicagos["Department"] = chicagos["Department"].astype("category")
chicagos.tail()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
32653,"ZYGOWICZ, PETER J",POLICE OFFICER,POLICE,F,Salary,NaN,$90024.00,NaN
32654,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,NaN,$48078.00,NaN
32655,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,$87006.00,NaN
32656,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,$93354.00,NaN
32657,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DoIT,F,Salary,NaN,$115932.00,NaN

In [19]:
chicagos["Name"].str.strip().tail()

32653      ZYGOWICZ,  PETER J
32654    ZYLINSKA,  KATARZYNA
32655       ZYMANTAS,  MARK E
32656     ZYRKOWSKI,  CARLO E
32657     ZYSKOWSKI,  DARIUSZ
Name: Name, dtype: object

In [20]:
chicagos["Name"].str.lstrip().tail()

32653       ZYGOWICZ,  PETER J
32654    ZYLINSKA,  KATARZYNA
32655        ZYMANTAS,  MARK E
32656      ZYRKOWSKI,  CARLO E
32657     ZYSKOWSKI,  DARIUSZ
Name: Name, dtype: object

In [21]:
chicagos["Name"].str.rstrip().tail()

32653      ZYGOWICZ,  PETER J
32654    ZYLINSKA,  KATARZYNA
32655       ZYMANTAS,  MARK E
32656     ZYRKOWSKI,  CARLO E
32657     ZYSKOWSKI,  DARIUSZ
Name: Name, dtype: object

In [24]:
chicago.index.str.strip().str.title()

Index(['Allison,  Paul W', 'Bruno,  Kevin D', 'Cooper,  John E',
       'Crespo,  Vilma I', 'Dolan,  Robert J', 'Dubert,  Tomasz',
       'Edwards,  Tim P', 'Elkins,  Eric J', 'Estrada,  Luis F',
       'Ewing,  Marie A',
       ...
       'Zych,  Mateusz', 'Zydek,  Bryan', 'Zygadlo,  John P',
       'Zygadlo,  Michael J', 'Zygmunt,  Dawid', 'Zygowicz,  Peter J',
       'Zylinska,  Katarzyna', 'Zymantas,  Mark E', 'Zyrkowski,  Carlo E',
       'Zyskowski,  Dariusz'],
      dtype='object', name='Name', length=32658)

In [26]:
"Hello my name is Pratik".split()

['Hello', 'my', 'name', 'is', 'Pratik']

In [30]:
chicagos["Name"].str.split(",").str.get(1).head()

0        PAUL W
1       KEVIN D
2        JOHN E
3       VILMA I
4      ROBERT J
Name: Name, dtype: object

In [31]:
chicagos["Name"].str.split(",").str.get(0).head()

0    ALLISON
1      BRUNO
2     COOPER
3     CRESPO
4      DOLAN
Name: Name, dtype: object

In [33]:
chicagos["Name"].str.split(",").str.title()

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
7       NaN
8       NaN
9       NaN
10      NaN
11      NaN
12      NaN
13      NaN
14      NaN
15      NaN
16      NaN
17      NaN
18      NaN
19      NaN
20      NaN
21      NaN
22      NaN
23      NaN
24      NaN
25      NaN
26      NaN
27      NaN
28      NaN
29      NaN
         ..
32628   NaN
32629   NaN
32630   NaN
32631   NaN
32632   NaN
32633   NaN
32634   NaN
32635   NaN
32636   NaN
32637   NaN
32638   NaN
32639   NaN
32640   NaN
32641   NaN
32642   NaN
32643   NaN
32644   NaN
32645   NaN
32646   NaN
32647   NaN
32648   NaN
32649   NaN
32650   NaN
32651   NaN
32652   NaN
32653   NaN
32654   NaN
32655   NaN
32656   NaN
32657   NaN
Name: Name, Length: 32658, dtype: float64

In [34]:
chicagos["Name"].str.split(",").value_counts()

[HERNANDEZ,   JUAN C]           5
[PEREZ,   JOSE A]               4
[ROMERO,   MIGUEL A]            4
[KELLY,   MICHAEL J]            4
[RIVERA,   RICARDO ]            4
[MARTINEZ,   JOSE A]            3
[GONZALEZ,   DAVID ]            3
[RIVERA,   VICTOR L]            3
[GONZALEZ,   JOSE ]             3
[DELGADO,   JUAN ]              3
[RODRIGUEZ,   JOSE L]           3
[RODRIGUEZ,   RICHARD ]         3
[GARCIA,   DAVID ]              3
[MARTINEZ,   WILLIAM ]          3
[LOPEZ,   ROBERT ]              3
[SULLIVAN,   JOHN T]            3
[GONZALEZ,   RICARDO ]          3
[RIOS,   ALFREDO ]              3
[JONES,   DANIEL ]              3
[GUZMAN,   DANIEL ]             2
[OTTEN,   MARVIN F]             2
[WALSH,   THOMAS J]             2
[LOPEZ,   NELSON ]              2
[GOMEZ,   ROBERT ]              2
[COLLINS,   BRIAN ]             2
[GARCIA,   JORGE ]              2
[SULLIVAN,   DANIEL J]          2
[LOPEZ,   NOEL ]                2
[HERNANDEZ,   MANUEL ]          2
[RODRIGUEZ,   DAVID ]           2
                               ..
[BURKE,   KEVIN ]               1
[KRAWCZYK,   BRIAN S]           1
[MUNOZ,   DAVID ]               1
[GRALEWSKI,   DOREEN M]         1
[MC DONALD,   JAMES F]          1
[KRAUT,   ANDREW K]             1
[HERNANDEZ,   JOB ]             1
[GONZALEZ,   RAFAEL ]           1
[CHAPMAN,   BENNIE ]            1
[RANDERSON,   JEFFREY R]        1
[MC DONALD,   JAMES M]          1
[ROGUS,   MATTHEW B]            1
[MENDEZ,   RICHARD D]           1
[ESPARRAGOZA,   ALEJANDRO E]    1
[MUNOZ,   DIANA J]              1
[JONES,   SALLY F]              1
[MC DONALD,   JAMES R]          1
[KRAVITZ,   SCOTT D]            1
[FAHRENBACH,   PATRICK R]       1
[BURK,   ELIZABETH ]            1
[BOWEN,   DARRYL L]             1
[DREY,   JOANNE M]              1
[MCDONALD,   JESSE S]           1
[ROGUS,   SCOTT W]              1
[RANDER,   TAVERAS ]            1
[GONZALEZ,   RAMIRO ]           1
[MUNOZ,   EDWIN ]               1
[MENDEZ,   ROCIO ]              1
[MCDONALD,   JOHN L]            1
[JACKSON,   KAREN A]            1
Name: Name, Length: 32350, dtype: int64

In [37]:
chicagos[["First Name", "Last Name"]] = chicagos["Name"].str.split(",", expand = True)

In [39]:
chicagos.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate,First Name,Last Name
0,"ALLISON, PAUL W",LIEUTENANT,FIRE,F,Salary,NaN,$107790.00,NaN,ALLISON,PAUL W
1,"BRUNO, KEVIN D",SERGEANT,POLICE,F,Salary,NaN,$104628.00,NaN,BRUNO,KEVIN D
2,"COOPER, JOHN E",LIEUTENANT-EMT,FIRE,F,Salary,NaN,$114324.00,NaN,COOPER,JOHN E
3,"CRESPO, VILMA I",STAFF ASST,LAW,F,Salary,NaN,$76932.00,NaN,CRESPO,VILMA I
4,"DOLAN, ROBERT J",SERGEANT,POLICE,F,Salary,NaN,$111474.00,NaN,DOLAN,ROBERT J

In [42]:
chicagos[["First Title", "Remaining Name"]] = chicagos["Job Titles"].str.split(" ", expand = True, n= 1)

In [43]:
chicagos.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate,First Name,Last Name,First Title,Remaining Name
0,"ALLISON, PAUL W",LIEUTENANT,FIRE,F,Salary,NaN,$107790.00,NaN,ALLISON,PAUL W,LIEUTENANT,None
1,"BRUNO, KEVIN D",SERGEANT,POLICE,F,Salary,NaN,$104628.00,NaN,BRUNO,KEVIN D,SERGEANT,None
2,"COOPER, JOHN E",LIEUTENANT-EMT,FIRE,F,Salary,NaN,$114324.00,NaN,COOPER,JOHN E,LIEUTENANT-EMT,None
3,"CRESPO, VILMA I",STAFF ASST,LAW,F,Salary,NaN,$76932.00,NaN,CRESPO,VILMA I,STAFF,ASST
4,"DOLAN, ROBERT J",SERGEANT,POLICE,F,Salary,NaN,$111474.00,NaN,DOLAN,ROBERT J,SERGEANT,None