In [1]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_excel("TEMPERATURE.xls")
df

         DAY  temperature  windspeed  event
0 2019-01-11           32          6   RAIN
1 2019-01-12           24          7  SUNNY
2 2019-01-13           28          2   SNOW
3 2019-01-14           24          7   SNOW
4 2019-01-15           32          4   RAIN
5 2019-01-16           32          2  SUNNY

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
DAY            6 non-null datetime64[ns]
temperature    6 non-null int64
windspeed      6 non-null int64
event          6 non-null object
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 272.0+ bytes

In [17]:
pd.to_datetime(df["temperature"])

0   1970-01-01 00:00:00.000000032
1   1970-01-01 00:00:00.000000024
2   1970-01-01 00:00:00.000000028
3   1970-01-01 00:00:00.000000024
4   1970-01-01 00:00:00.000000032
5   1970-01-01 00:00:00.000000032
Name: temperature, dtype: datetime64[ns]

In [24]:
dfn = pd.read_excel("TEMPERATURE.xls" , parse_dates = ["windspeed", "temperature"])
dfn

         DAY  temperature  windspeed  event
0 2019-01-11           32          6   RAIN
1 2019-01-12           24          7  SUNNY
2 2019-01-13           28          2   SNOW
3 2019-01-14           24          7   SNOW
4 2019-01-15           32          4   RAIN
5 2019-01-16           32          2  SUNNY

In [25]:
dfn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
DAY            6 non-null datetime64[ns]
temperature    6 non-null int64
windspeed      6 non-null int64
event          6 non-null object
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 272.0+ bytes

# isin()
isnull()
notnull()
between()
duplicated()
drop_duplicates()
unique()
nuniques()

In [42]:
HR = pd.read_csv("HR-Employee-Attrition.csv")
HR.head(10)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
5,32,No,Travel_Frequently,1005,Research & Development,2,2,Life Sciences,1,8,...,3,80,0,8,2,2,7,7,3,6
6,59,No,Travel_Rarely,1324,Research & Development,3,3,Medical,1,10,...,1,80,3,12,3,2,1,0,0,0
7,30,No,Travel_Rarely,1358,Research & Development,24,1,Life Sciences,1,11,...,2,80,1,1,2,3,1,0,0,0
8,38,No,Travel_Frequently,216,Research & Development,23,3,Life Sciences,1,12,...,2,80,0,10,2,3,9,7,1,8
9,36,No,Travel_Rarely,1299,Research & Development,27,3,Medical,1,13,...,2,80,2,17,3,2,7,7,7,7

In [28]:
HR.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
Age                         1470 non-null int64
Attrition                   1470 non-null object
BusinessTravel              1470 non-null object
DailyRate                   1470 non-null int64
Department                  1470 non-null object
DistanceFromHome            1470 non-null int64
Education                   1470 non-null int64
EducationField              1470 non-null object
EmployeeCount               1470 non-null int64
EmployeeNumber              1470 non-null int64
EnvironmentSatisfaction     1470 non-null int64
Gender                      1470 non-null object
HourlyRate                  1470 non-null int64
JobInvolvement              1470 non-null int64
JobLevel                    1470 non-null int64
JobRole                     1470 non-null object
JobSatisfaction             1470 non-null int64
MaritalStatus               1470 non-null object
MonthlyIncome               1470 non-null int64
MonthlyRate                 1470 non-null int64
NumCompaniesWorked          1470 non-null int64
Over18                      1470 non-null object
OverTime                    1470 non-null object
PercentSalaryHike           1470 non-null int64
PerformanceRating           1470 non-null int64
RelationshipSatisfaction    1470 non-null int64
StandardHours               1470 non-null int64
StockOptionLevel            1470 non-null int64
TotalWorkingYears           1470 non-null int64
TrainingTimesLastYear       1470 non-null int64
WorkLifeBalance             1470 non-null int64
YearsAtCompany              1470 non-null int64
YearsInCurrentRole          1470 non-null int64
YearsSinceLastPromotion     1470 non-null int64
YearsWithCurrManager        1470 non-null int64
dtypes: int64(26), object(9)
memory usage: 402.0+ KB

In [29]:
HR["Gender"]== "Male"

0       False
1        True
2        True
3       False
4        True
5        True
6       False
7        True
8        True
9        True
10       True
11      False
12       True
13       True
14       True
15      False
16       True
17       True
18      False
19       True
20      False
21       True
22      False
23       True
24       True
25      False
26      False
27       True
28      False
29      False
        ...
1440    False
1441     True
1442     True
1443     True
1444     True
1445    False
1446    False
1447     True
1448     True
1449     True
1450    False
1451    False
1452     True
1453    False
1454    False
1455     True
1456     True
1457    False
1458    False
1459     True
1460    False
1461     True
1462    False
1463     True
1464    False
1465     True
1466     True
1467     True
1468     True
1469     True
Name: Gender, Length: 1470, dtype: bool

In [71]:
HR["Gender"]!= "Male"

0        True
1       False
2       False
3        True
4       False
5       False
6        True
7       False
8       False
9       False
10      False
11       True
12      False
13      False
14      False
15       True
16      False
17      False
18       True
19      False
20       True
21      False
22       True
23      False
24      False
25       True
26       True
27      False
28       True
29       True
        ...
1440     True
1441    False
1442    False
1443    False
1444    False
1445     True
1446     True
1447    False
1448    False
1449    False
1450     True
1451     True
1452    False
1453     True
1454     True
1455    False
1456    False
1457     True
1458     True
1459    False
1460     True
1461    False
1462     True
1463    False
1464     True
1465    False
1466    False
1467    False
1468    False
1469    False
Name: Gender, Length: 1470, dtype: bool

In [98]:
mask = HR["Department"]== "Sales"
HR[mask]        #square bracket

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
18,53,No,Travel_Rarely,1219,Sales,2,4,Life Sciences,1,23,...,3,80,0,31,3,3,25,8,3,7
21,36,Yes,Travel_Rarely,1218,Sales,9,4,Life Sciences,1,27,...,2,80,0,10,4,3,5,3,0,3
27,42,No,Travel_Rarely,691,Sales,8,4,Marketing,1,35,...,4,80,1,10,2,3,9,7,4,2
29,46,No,Travel_Rarely,705,Sales,2,4,Marketing,1,38,...,4,80,0,22,2,2,2,2,2,1
33,39,Yes,Travel_Rarely,895,Sales,5,3,Technical Degree,1,42,...,3,80,1,19,6,4,1,0,0,0
36,50,Yes,Travel_Rarely,869,Sales,3,2,Marketing,1,47,...,3,80,0,3,2,3,3,2,0,2
37,35,No,Travel_Rarely,890,Sales,2,3,Marketing,1,49,...,1,80,0,2,3,3,2,2,2,2
39,33,No,Travel_Frequently,1141,Sales,1,3,Life Sciences,1,52,...,1,80,2,10,3,3,5,3,1,3
43,27,No,Travel_Frequently,994,Sales,8,3,Life Sciences,1,56,...,4,80,0,9,0,3,9,8,1,7
46,34,No,Non-Travel,1065,Sales,23,4,Marketing,1,60,...,3,80,0,10,2,3,9,5,8,7
48,46,No,Travel_Frequently,1211,Sales,5,4,Marketing,1,62,...,3,80,0,14,4,3,9,6,0,8
52,44,No,Travel_Rarely,1488,Sales,1,5,Marketing,1,68,...,3,80,1,9,2,2,4,3,1,3
54,26,No,Travel_Rarely,1443,Sales,23,3,Marketing,1,72,...,3,80,1,5,2,2,2,2,0,0
56,35,No,Travel_Frequently,853,Sales,18,5,Life Sciences,1,74,...,4,80,1,9,3,2,9,8,1,8
63,59,No,Travel_Rarely,1435,Sales,25,3,Life Sciences,1,81,...,4,80,0,28,3,2,21,16,7,9
70,59,No,Travel_Frequently,1225,Sales,1,1,Life Sciences,1,91,...,4,80,0,20,2,2,4,3,1,3
76,35,No,Travel_Rarely,776,Sales,1,4,Marketing,1,100,...,2,80,0,16,2,3,15,13,2,8
82,55,No,Travel_Rarely,111,Sales,1,2,Life Sciences,1,106,...,4,80,1,24,4,3,1,0,1,0
86,23,No,Travel_Rarely,541,Sales,2,1,Technical Degree,1,113,...,3,80,1,3,3,3,0,0,0,0
89,46,Yes,Travel_Rarely,669,Sales,9,2,Medical,1,118,...,4,80,0,9,3,3,9,8,4,7
91,51,No,Travel_Rarely,632,Sales,21,4,Marketing,1,120,...,4,80,0,11,2,1,10,7,1,0
92,30,No,Travel_Rarely,1334,Sales,4,2,Medical,1,121,...,2,80,3,11,4,2,11,8,2,7
94,32,No,Travel_Rarely,1093,Sales,6,4,Medical,1,125,...,1,80,0,12,0,3,11,8,5,7
96,24,No,Travel_Rarely,1353,Sales,3,2,Other,1,128,...,1,80,1,4,2,2,3,2,0,2
97,28,No,Non-Travel,120,Sales,4,3,Medical,1,129,...,2,80,0,5,3,4,5,4,0,4
98,58,No,Travel_Rarely,682,Sales,10,4,Medical,1,131,...,3,80,0,38,1,2,37,10,1,8
107,25,Yes,Travel_Rarely,240,Sales,5,3,Marketing,1,142,...,4,80,0,6,1,3,6,4,0,3
115,37,No,Travel_Rarely,1189,Sales,3,3,Life Sciences,1,152,...,1,80,0,12,3,3,5,3,1,3
117,36,No,Travel_Frequently,1467,Sales,11,2,Technical Degree,1,154,...,3,80,1,10,6,3,9,7,2,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1380,35,No,Travel_Rarely,682,Sales,18,4,Medical,1,1945,...,4,80,1,6,2,1,5,3,0,4
1384,34,No,Travel_Rarely,937,Sales,1,3,Marketing,1,1950,...,1,80,0,14,3,2,14,8,2,1
1385,34,No,Travel_Rarely,1239,Sales,13,4,Medical,1,1951,...,3,80,1,9,2,2,8,7,1,1
1391,38,No,Travel_Rarely,1404,Sales,1,3,Life Sciences,1,1961,...,1,80,0,20,3,2,1,0,0,0
1392,35,No,Travel_Rarely,1224,Sales,7,4,Life Sciences,1,1962,...,4,80,0,10,2,3,10,8,0,9
1393,27,No,Travel_Rarely,954,Sales,9,3,Marketing,1,1965,...,1,80,0,7,5,3,7,7,0,7
1395,31,Yes,Travel_Frequently,754,Sales,26,4,Marketing,1,1967,...,3,80,0,10,4,3,10,7,0,8
1396,53,Yes,Travel_Rarely,1168,Sales,24,4,Life Sciences,1,1968,...,2,80,0,15,2,2,2,2,2,2
1403,39,No,Travel_Rarely,119,Sales,15,4,Marketing,1,1975,...,1,80,0,21,3,3,20,8,11,10
1410,40,No,Travel_Rarely,444,Sales,2,2,Marketing,1,1986,...,3,80,1,15,4,3,11,8,5,10
1416,38,No,Travel_Rarely,1321,Sales,1,4,Life Sciences,1,1995,...,1,80,2,16,3,3,15,13,5,8
1417,31,No,Travel_Rarely,1154,Sales,2,2,Life Sciences,1,1996,...,3,80,1,3,1,3,2,2,1,2
1428,32,No,Travel_Rarely,234,Sales,1,4,Medical,1,2013,...,2,80,1,3,2,3,2,2,2,2
1431,32,No,Travel_Rarely,801,Sales,1,4,Marketing,1,2016,...,3,80,2,14,3,3,14,10,5,7
1433,25,No,Travel_Rarely,1382,Sales,8,2,Other,1,2018,...,2,80,1,6,3,2,5,3,0,4
1434,52,No,Non-Travel,585,Sales,29,4,Life Sciences,1,2019,...,2,80,2,16,3,2,9,8,0,0
1436,21,No,Travel_Rarely,501,Sales,5,1,Medical,1,2021,...,4,80,0,2,6,3,2,2,1,2
1438,23,Yes,Travel_Frequently,638,Sales,9,3,Marketing,1,2023,...,1,80,1,1,3,2,1,0,1,0
1439,36,No,Travel_Rarely,557,Sales,3,3,Medical,1,2024,...,3,80,2,10,2,3,9,7,3,4
1446,34,No,Travel_Rarely,704,Sales,28,3,Marketing,1,2035,...,4,80,2,8,2,3,8,7,1,7
1447,36,No,Non-Travel,301,Sales,15,4,Marketing,1,2036,...,1,80,1,15,4,2,15,12,11,11
1448,41,No,Travel_Rarely,930,Sales,3,3,Life Sciences,1,2037,...,3,80,1,14,5,3,5,4,0,4
1451,38,No,Travel_Rarely,345,Sales,10,2,Life Sciences,1,2041,...,3,80,1,10,1,3,10,7,1,9
1452,50,Yes,Travel_Frequently,878,Sales,1,4,Life Sciences,1,2044,...,4,80,2,12,3,3,6,3,0,1
1453,36,No,Travel_Rarely,1120,Sales,11,4,Marketing,1,2045,...,1,80,1,8,2,2,6,3,0,0
1454,45,No,Travel_Rarely,374,Sales,20,3,Life Sciences,1,2046,...,3,80,0,8,3,3,5,3,0,1
1461,50,Yes,Travel_Rarely,410,Sales,28,3,Marketing,1,2055,...,2,80,1,20,3,3,3,2,2,0
1462,39,No,Travel_Rarely,722,Sales,24,1,Marketing,1,2056,...,1,80,1,21,2,2,20,9,9,6
1464,26,No,Travel_Rarely,1167,Sales,5,3,Other,1,2060,...,4,80,0,5,2,3,4,2,0,0
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8

In [92]:
HR["Attrition"].replace({"Yes": "True",
                        "No" : "False"} )

0        True
1       False
2        True
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14       True
15      False
16      False
17      False
18      False
19      False
20      False
21       True
22      False
23      False
24       True
25      False
26       True
27      False
28      False
29      False
        ...
1440    False
1441    False
1442     True
1443    False
1444     True
1445    False
1446    False
1447    False
1448    False
1449    False
1450    False
1451    False
1452     True
1453    False
1454    False
1455    False
1456    False
1457    False
1458    False
1459    False
1460    False
1461     True
1462    False
1463    False
1464    False
1465    False
1466    False
1467    False
1468    False
1469    False
Name: Attrition, Length: 1470, dtype: object

In [89]:
mask1 = HR["MonthlyRate"] > 14313

In [94]:
c

In [99]:
HR[mask1 & mask2 | mask]

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
12,31,No,Travel_Rarely,670,Research & Development,26,1,Life Sciences,1,16,...,4,80,1,5,1,2,5,2,4,3
18,53,No,Travel_Rarely,1219,Sales,2,4,Life Sciences,1,23,...,3,80,0,31,3,3,25,8,3,7
21,36,Yes,Travel_Rarely,1218,Sales,9,4,Life Sciences,1,27,...,2,80,0,10,4,3,5,3,0,3
22,34,No,Travel_Rarely,419,Research & Development,7,4,Life Sciences,1,28,...,3,80,0,13,4,3,12,6,2,11
27,42,No,Travel_Rarely,691,Sales,8,4,Marketing,1,35,...,4,80,1,10,2,3,9,7,4,2
29,46,No,Travel_Rarely,705,Sales,2,4,Marketing,1,38,...,4,80,0,22,2,2,2,2,2,1
31,44,No,Travel_Rarely,1459,Research & Development,10,4,Other,1,40,...,4,80,0,9,5,4,4,2,1,3
33,39,Yes,Travel_Rarely,895,Sales,5,3,Technical Degree,1,42,...,3,80,1,19,6,4,1,0,0,0
36,50,Yes,Travel_Rarely,869,Sales,3,2,Marketing,1,47,...,3,80,0,3,2,3,3,2,0,2
37,35,No,Travel_Rarely,890,Sales,2,3,Marketing,1,49,...,1,80,0,2,3,3,2,2,2,2
39,33,No,Travel_Frequently,1141,Sales,1,3,Life Sciences,1,52,...,1,80,2,10,3,3,5,3,1,3
41,27,No,Travel_Rarely,1240,Research & Development,2,4,Life Sciences,1,54,...,4,80,1,1,6,3,1,0,0,0
43,27,No,Travel_Frequently,994,Sales,8,3,Life Sciences,1,56,...,4,80,0,9,0,3,9,8,1,7
45,41,Yes,Travel_Rarely,1360,Research & Development,12,3,Technical Degree,1,58,...,4,80,0,23,0,3,22,15,15,8
46,34,No,Non-Travel,1065,Sales,23,4,Marketing,1,60,...,3,80,0,10,2,3,9,5,8,7
48,46,No,Travel_Frequently,1211,Sales,5,4,Marketing,1,62,...,3,80,0,14,4,3,9,6,0,8
52,44,No,Travel_Rarely,1488,Sales,1,5,Marketing,1,68,...,3,80,1,9,2,2,4,3,1,3
54,26,No,Travel_Rarely,1443,Sales,23,3,Marketing,1,72,...,3,80,1,5,2,2,2,2,0,0
56,35,No,Travel_Frequently,853,Sales,18,5,Life Sciences,1,74,...,4,80,1,9,3,2,9,8,1,8
57,35,No,Travel_Rarely,1142,Research & Development,23,4,Medical,1,75,...,3,80,1,4,3,3,2,2,2,2
62,50,No,Travel_Rarely,989,Research & Development,7,2,Medical,1,80,...,4,80,1,29,2,2,27,3,13,8
63,59,No,Travel_Rarely,1435,Sales,25,3,Life Sciences,1,81,...,4,80,0,28,3,2,21,16,7,9
65,55,No,Travel_Rarely,836,Research & Development,8,3,Medical,1,84,...,3,80,3,21,2,3,5,0,0,2
67,45,No,Travel_Rarely,1339,Research & Development,7,3,Life Sciences,1,86,...,3,80,1,25,2,3,1,0,0,0
70,59,No,Travel_Frequently,1225,Sales,1,1,Life Sciences,1,91,...,4,80,0,20,2,2,4,3,1,3
74,36,No,Travel_Rarely,132,Research & Development,6,3,Life Sciences,1,97,...,2,80,0,5,3,3,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1417,31,No,Travel_Rarely,1154,Sales,2,2,Life Sciences,1,1996,...,3,80,1,3,1,3,2,2,1,2
1422,35,No,Travel_Rarely,1490,Research & Development,11,4,Medical,1,2003,...,3,80,1,5,3,3,2,2,2,2
1423,22,No,Travel_Rarely,581,Research & Development,1,2,Life Sciences,1,2007,...,4,80,0,4,2,4,3,2,1,2
1424,35,No,Travel_Rarely,1395,Research & Development,9,4,Medical,1,2008,...,2,80,0,10,5,3,10,7,0,8
1426,32,No,Travel_Rarely,267,Research & Development,29,4,Life Sciences,1,2010,...,3,80,0,6,3,3,6,2,4,1
1428,32,No,Travel_Rarely,234,Sales,1,4,Medical,1,2013,...,2,80,1,3,2,3,2,2,2,2
1431,32,No,Travel_Rarely,801,Sales,1,4,Marketing,1,2016,...,3,80,2,14,3,3,14,10,5,7
1432,37,No,Travel_Rarely,161,Research & Development,10,3,Life Sciences,1,2017,...,1,80,1,16,2,3,16,11,6,8
1433,25,No,Travel_Rarely,1382,Sales,8,2,Other,1,2018,...,2,80,1,6,3,2,5,3,0,4
1434,52,No,Non-Travel,585,Sales,29,4,Life Sciences,1,2019,...,2,80,2,16,3,2,9,8,0,0
1436,21,No,Travel_Rarely,501,Sales,5,1,Medical,1,2021,...,4,80,0,2,6,3,2,2,1,2
1438,23,Yes,Travel_Frequently,638,Sales,9,3,Marketing,1,2023,...,1,80,1,1,3,2,1,0,1,0
1439,36,No,Travel_Rarely,557,Sales,3,3,Medical,1,2024,...,3,80,2,10,2,3,9,7,3,4
1441,56,No,Non-Travel,667,Research & Development,1,4,Life Sciences,1,2026,...,1,80,1,13,2,2,13,12,1,9
1442,29,Yes,Travel_Rarely,1092,Research & Development,1,4,Medical,1,2027,...,2,80,3,4,3,4,2,2,2,2
1443,42,No,Travel_Rarely,300,Research & Development,2,3,Life Sciences,1,2031,...,1,80,0,24,2,2,22,6,4,14
1446,34,No,Travel_Rarely,704,Sales,28,3,Marketing,1,2035,...,4,80,2,8,2,3,8,7,1,7
1447,36,No,Non-Travel,301,Sales,15,4,Marketing,1,2036,...,1,80,1,15,4,2,15,12,11,11
1448,41,No,Travel_Rarely,930,Sales,3,3,Life Sciences,1,2037,...,3,80,1,14,5,3,5,4,0,4
1450,35,No,Travel_Rarely,1146,Human Resources,26,4,Life Sciences,1,2040,...,3,80,0,9,2,3,9,0,1,7
1451,38,No,Travel_Rarely,345,Sales,10,2,Life Sciences,1,2041,...,3,80,1,10,1,3,10,7,1,9
1452,50,Yes,Travel_Frequently,878,Sales,1,4,Life Sciences,1,2044,...,4,80,2,12,3,3,6,3,0,1
1453,36,No,Travel_Rarely,1120,Sales,11,4,Marketing,1,2045,...,1,80,1,8,2,2,6,3,0,0
1454,45,No,Travel_Rarely,374,Sales,20,3,Life Sciences,1,2046,...,3,80,0,8,3,3,5,3,0,1
1459,29,No,Travel_Rarely,1378,Research & Development,13,2,Other,1,2053,...,1,80,1,10,2,3,4,3,0,3
1461,50,Yes,Travel_Rarely,410,Sales,28,3,Marketing,1,2055,...,2,80,1,20,3,3,3,2,2,0
1462,39,No,Travel_Rarely,722,Sales,24,1,Marketing,1,2056,...,1,80,1,21,2,2,20,9,9,6
1464,26,No,Travel_Rarely,1167,Sales,5,3,Other,1,2060,...,4,80,0,5,2,3,4,2,0,0
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8